<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/vapasi/IdeaProjects/VapasiUiFramework/src/test/java/tests" parallel="classes">

    <groups>
        <run>
            <include name="smoke"/>
        </run>
    </groups>



    <classes>
        <class name="tests.AddingAProductToCartTest">
            <methods><include name="adAProductToCart"/>
            </methods></class>


        <class name="tests.SimpleLoginTest">
            <methods><include name="testLogin"/>
                <include name="adAProductToCart"/>
            </methods></class>


    </classes>

</test></suite>